{% extends 'base.html.twig' %}

{% block title %}Luttes Enchantées - Accueil!{% endblock %}

{% block body %}
        <section class="container row d-flex justify-content-center mt-3" id="homePresentation">
			
			<div class="col-9 row">
				<h1 class="text-center fw-bolder">Bienvenue sur le site des Luttes Enchantées</h1>

				<p class="text-center">Luttes enchantées, c'est une <strong>chorale de femmes</strong>, <strong>féministes</strong></p>
			</div>
		</section>

        <section class="container" id="homePresentation">
			<div class="row text-center">
				<h2 class="my-3 fw-bolder">Qui sommes-nous ?</h2>
			</div>

			<div class="row">

				<article class="col-8" id="homeArticle">
					<p class="justify mt-1">Les <strong>Luttes Enchantées</strong> existent depuis le 15 décembre 2018.</p>

					<p class="justify">Nous sommes une <strong>chorale rennaise</strong>, composée d’une trentaine de <strong>femmes</strong>
					de tous âges, qui aimons nous retrouver autour d’un répertoire <strong>féministe</strong>.</p>

					<p class="justify">Le but est de se faire plaisir tout en travaillant nos voix et en apprenant des <strong>chants</strong>
					dynamiques pouvant être chantés en <strong>manifs</strong> ou en <strong>concerts</strong>, avec ou sans 
					cheffe de chœur.</p>

					<p class="justify">Notre chorale est aussi un <strong>lieu de partages et d’informations</strong>. Nous aimons nous 
					retrouver autour des <strong>luttes des femmes</strong> avec un répertoire commun à plusieurs chorales 
					sur la ville, comme <a href="https://www.lako-compagnie.com/colectiva" target="_blank" title="lien vers 
					le site de la Ko-compagnie">!Colectiva!</a> ou la <a href="https://latetealest.wixsite.com/latetealest" 
					target="_blank" title="lien vers le site de la Tête à l'Est"> Tête à l'Est</a>.</p>

					<p class="justify">Nous aimons chanter en manifs, et lors d’évènements auxquels nous invitent des associations, groupes, 
					chorales alliées. En 2022, par exemple, nous avons chanté au festival de 
					<a href="https://www.facebook.com/NousToutes35/" target="_blank" title="lien vers le site de Nous Toutes 35">
					Nous Toutes 35</a>, pour les 10 ans de l'association <a href="http://histoire-feminisme-rennes.blogspot.com/" 
					target="_blank" title="lien vers le site d'HFR">Histoire du Féminisme à Rennes</a>, pendant l'académie d'été 
					du DIU "Etudes sur le genre" à Rennes 2, et dans différentes manifs comme <strong>le 8 mars</strong>, 
					<a href="http://8mars.info/" target="_blank" title="lien vers le site 8mars.info">journée Internationnale 
					pour les droits des femmes</a> et le <strong>25 novembre</strong> lors de la 
					<a href="https://www.facebook.com/events/389434949944187/?ref=newsfeed" target="blank" title="lien vers 
					l'évenement de Nous Toutes 35">marche contre les violences faites aux femmes</a>, et lors de bien d'autres 
					évenements !</p>
				</article>
				<figure class="col-4 m-auto" id="chorusPicture">
					<img class="w-100 h-auto" src="{{ asset('img/photoGroupe.jpg') }}" alt="Photo de la chorale - janvier 2023">
					<figcaption class="figure-caption text-end">Photo de groupe</figcaption>
				</figure>

			</div>

		</section>
		
		<section class="container w-75 p-3" id="homeActu">
			<h2 class="my-3 fw-bolder text-center">Nos actualités :</h2>
			<p class="empty">Aucune actualité pour le moment, revenez plus tard.</p>
		</section>

		<section id="homeChants">
			<h2 class="my-3 fw-bolder text-center">Nos chants</h2>

			<p class="mb-0">Notre répértoire est composé de <strong>chants féministes</strong> et de <strong>chants de femmes</strong>.</p>
			<p>Voici quelques exemples de chants que nous travaillons actuellement</p>
		</section>

{% endblock %}
