:root {
    --main-color: #2713D4;
    --main-color-2: #005dff;
    --main-color-3: #00a3ff;
    --main-color-4: #b4f4ff;
    --bs-navbar-padding-y: 0;
}

body{
	margin:0;
	box-sizing: border-box;
	font-family: "Kalam", cursive;
	background-color: white;
	color: var(--main-color);
}

body>*,
.form-control{
    font-size: 1.2rem;
}

.justify{
    text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: bolder;
}

.logo{
    max-width: 12vw;
    height: auto;
	position: absolute;
	margin: 0.5rem;
}

.firstP{
    margin-top: 3rem;
}

#homeArticle>p>a{
	text-decoration: none;
	color: var(--main-color);
    font-weight: bolder;
}

#homeArticle>p>a:hover{
    text-decoration: underline;
}

strong{
    font-weight: normal;
}
.navbar{
    font-size: 1.2rem;
}

#homeActu,
#nav1{
    background-color: var(--main-color);
    color: var(--main-color-4);
}

#logoNav{
    max-width: 5rem;
}

.navbarLink{
    color: white;
    font-weight: bolder;
}

.navbarLink:hover{
    color: white;
    font-weight: bolder;
    text-decoration: underline;
}

#navbar-icon{
    color: white;
}

button>a{
	color: var(--main-color);
}

button>a:hover{
    color: var(--main-color-4);
}

li{
    list-style-type: none;
}

.btn-primary{
    background-color: var(--main-color);
    border-color: var(--main-color);
    border-width: 2px;
    color: var(--main-color-4);
    font-weight: bold;}

.btn-primary:hover{
    background-color: var(--main-color-4);
    border-color: var(--main-color);
    border-width: 2px;
    color: var(--main-color);
    font-weight: bold;
}

.membersHome>li+li{
    border-top: 4px solid var(--main-color);
}

ul{
    padding-left: 0;
}

.card{
    border: 4px solid var(--main-color);
    padding: 2rem;
}

.card-title{
    background-color: var(--main-color);
}

.card-header{
    color:white;
    border-bottom: 2px solid var(--main-color);
}

.card-body{
    color: var(--main-color);
    font-size: large;
}

.bgmain{
    background-color: var(--main-color);
}

.card-body{
    font-style: inherit;
}

.border-colored{
    border: 2px solid var(--main-color);
}

#chooseASong ul li:nth-child(even){
    background-color: var(--main-color-4);
}
