:root {
    --main-color: #2713D4;
    --main-color-2: #005dff;
    --main-color-3: #00a3ff;
    --main-color-4: #b4f4ff;
    --bs-navbar-padding-y: 0;
}

body{
	margin:0;
	box-sizing: border-box;
	font-family: "Kalam", cursive;
	background-color: white;
	color: var(--main-color);
}

body>*,
.form-control{
    font-size: 1.2rem;
    box-sizing: inherit;
}

.justify{
    text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: bolder;
}

.logo{
    max-width: 12vw;
    height: auto;
	position: absolute;
	margin: 0.5rem;
}

.firstP{
    margin-top: 3rem;
}

#homeArticle>p>a{
	text-decoration: none;
	color: var(--main-color);
    font-weight: bolder;
}

#homeArticle>p>a:hover{
    text-decoration: underline;
}

strong{
    font-weight: normal;
}
.navbar{
    font-size: 1.2rem;
}

#homeActu,
#nav1{
    background-color: var(--main-color);
    color: var(--main-color-4);
}

#logoNav{
    max-width: 5rem;
}

.navbarLink{
    color: white;
    font-weight: bolder;
}

.navbarLink:hover{
    color: white;
    font-weight: bolder;
    text-decoration: underline;
}

#navbar-icon{
    color: white;
}

button>a{
	color: var(--main-color);
}

button>a:hover{
    color: var(--main-color-4);
}

li{
    list-style-type: none;
}

.btn-primary{
    background-color: var(--main-color);
    border-color: var(--main-color);
    border-width: 2px;
    color: var(--main-color-4);
    font-weight: bold;}

.btn-primary:hover{
    background-color: var(--main-color-4);
    border-color: var(--main-color);
    border-width: 2px;
    color: var(--main-color);
    font-weight: bold;
}

.membersHome>li+li{
    border-top: 4px solid var(--main-color);
}

ul{
    padding-left: 0;
}

.card{
    border: 4px solid var(--main-color);
    padding: 2rem;
    font-size: 1.2rem;
}

.card-title{
    background-color: var(--main-color);
}

.card-header{
    color:white;
    border-bottom: 2px solid var(--main-color);
}

.itemCard>.card-header{
    border-bottom: none;
    background-color: transparent;
}

.card-body{
    color: var(--main-color);
    font-size: 1.2rem;
}

.bgmain{
    background-color: var(--main-color);
}

.card-body{
    font-style: inherit;
}

.border-colored{
    border: 2px solid var(--main-color);
}

#chooseASong ul li:nth-child(even){
    background-color: var(--main-color-4);
}

.card-footer{
    border-top: none;
    background-color: transparent;
}

.card-footer-art{
    color: var(--main-color);
    margin-left: 5;
    background-color: var(--main-color-4);
}

.card-footer-art:first-of-type{
    border-top: 2px solid var(--main-color);
}

.card-header>p{
    color: var(--main-color);
}

.ulBorder{
    padding: 3rem;
    border : 2px solid var(--main-color);
}

@media(min-width: 0px) and (max-width: 791.99px)
{
    #text{
        width: 370px;
        height: 490px;
    }
}

@media(min-width: 791.99px)
{
      #text{
            width: 770px;
            height: 1030px;
            margin-left: auto;
            margin-right: auto;
        }
}



@media(min-width: 0px) and (max-width: 791.99px)
{
    .mwidth30{
        display: flex;
        max-width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        align-self: center;
    }

    .mwidth45{
        display: flex;
        max-width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        align-self: center;
    }

    .imagePortrait{
        display: flex;
        max-width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        align-self: center;
    }
}

@media(min-width: 791.99px)
{
    .mwidth30{
        max-width: 30%;
        height: auto;
    }

    .mwidth45{
        max-width: 45%;
        height: auto;
    }

    .imagePortrait{
        max-width: 25%;
        height: auto;
    }

}

.photo>img{
    height: auto;
    max-width: 100%;
}

.photo{
    display: flex;
    margin: auto;
    max-width: 98%;
    max-height: 98%;
}

.photo .image
{
      object-fit: cover;
}

@media(min-width: 0px) and (max-width: 791.99px)
{
      .membersVideosGrid{
            display: grid;
            gap: 2px;
            margin: 2rem auto;
      }
      
      .ph85{
            grid-area: 14 / 6 / 15 / 7;
      }
        
      
      .ph86{
            grid-area: 3 / 1 / 5 / 3;
      }
      
      .ph90{
            grid-area: 9 / 5 / 12 / 8;
      }
      
      .ph91{
            grid-area: 12 / 7 / 13 / 8;
      }
      
      .ph92{
            grid-area: 11 / 2 / 14 / 5;
      }
      
      .ph94{
            grid-area: 14 / 3 / 16 / 6;
      }
      
      .ph99{
            grid-area: 12 / 5 / 14 / 7;
      }
      
      .ph00{
            grid-area: 9 / 4 / 11 / 5;
      }
      
      .ph02{
            grid-area: 5 / 1 / 7 / 2;
      }
      
      .ph05{
            grid-area: 1 / 6 / 3 / 7;
      }
      
      .ph07{
            grid-area: 5 / 2 / 7 / 4;
      }
      
      .ph11{
            grid-area: 10 / 2 / 11 / 3;
      }
      
      .ph13{
            grid-area: 3 / 6 / 5 / 8;
      }
      
      .ph14{
            grid-area: 7 / 1 / 10 / 4;
      }
      
      .ph19{
            grid-area: 10 / 1 / 12 / 2;
      }
      
      .ph21{
            grid-area: 2 / 3 / 5 / 6;
      }
      
      .ph22{
            grid-area: 10 / 3 / 11 / 4;
      }
      
      .ph24{
            grid-area: 5 / 4 / 9 / 8;
      }
      
      #credit{
            grid-area: 1 / 2 / 2 / 6;
            font-size: 1.2rem;
            text-align: right;
            margin: auto 0.1rem 0.1rem auto;
      }
}

@media(min-width: 319px) and (max-width: 591.99px)
{
      .membersVideosGrid{
            grid-template-rows: repeat(15, 28px);
            grid-template-columns: repeat(7, 42px);
            width: 321px;
            height: auto;
      }
}

@media(min-width: 520px) and (max-width: 791.99px)
{
      .membersVideosGrid{
            grid-template-rows: repeat(15, 47px);
            grid-template-columns: repeat(7, 70px);
            width: 518px;
            height: 720px;
      }

}

@media(min-width: 792px)
{
      .membersVideosGrid{
            display: grid;
            grid-template-rows: repeat(13, 1fr);
            grid-template-columns: repeat(12, 1fr);
            gap: 4px;
            margin: 2rem auto;
      }
      
      .ph85{
            grid-area: 7 / 10 / 8 / 11;
      }
        
      
      .ph86{
            grid-area: 8 / 11 / 10 / 13;
      }
      
      .ph90{
            grid-area: 9 / 5 / 12 / 8;
      }
      
      .ph91{
            grid-area: 3 / 8 / 4 / 9;
      }
      
      .ph92{
            grid-area: 4 / 8 / 7 / 11;
      }
      
      .ph94{
            grid-area: 7 / 1 / 10 / 4;
      }
      
      .ph99{
            grid-area: 11 / 8 / 13 / 10;
      }
      
      .ph00{
            grid-area: 9 / 4 / 11 / 5;
      }
      
      .ph02{
            grid-area: 6 / 11 / 8 / 12;
      }
      
      .ph05{
            grid-area: 1 / 6 / 3 / 7;
      }
      
      .ph07{
            grid-area: 5 / 2 / 7 / 4;
      }
      
      .ph11{
            grid-area: 7 / 9 / 8 / 10;
      }
      
      .ph13{
            grid-area: 3 / 6 / 5 / 8;
      }
      
      .ph14{
            grid-area: 8 / 8 / 11 / 11;
      }
      
      .ph19{
            grid-area: 12 / 7 / 14 / 8;
      }
      
      .ph21{
            grid-area: 2 / 3 / 5 / 6;
      }
      
      .ph22{
            grid-area: 7 / 8 / 8 / 9;
      }
      
      .ph24{
            grid-area: 5 / 4 / 9 / 8;
      }
      
      #credit{
            grid-area: 2 / 7 / 3 / 10;
            margin: auto auto 0.1rem 0.1rem;
      }
}

@media(min-width: 792px) and (max-width: 1099.99px)
{
      .membersVideosGrid{
            width: 793px;
            height: 460px;
      }

      #credit{
            grid-area: 2 / 7 / 3 / 10;
      }
}

@media(min-width: 1100px)
{
      .membersVideosGrid{
            width: 1100px;
            height: 500px;
      }

      #credit{
            grid-area: 2 / 7 / 3 / 9;
      }
}

