{% extends 'base.html.twig' %}

{# {% block title %}{{song.title}}{% endblock %} #}

{% block body %}
<section class="container row d-flex justify-content-center mx-auto mt-3">

    <div class="col-11 col-lg-9 row">
        <h1 class="text-center fw-bolder">{{song.title}}</h1>
        <p class="text-center">{{song.description}}</p>

    </div>
    <div class="col-11 mt-5">

{# A finir ************************************** #}
{# Ajouter textes et voix************************ #}

    </div>

</section>

{% endblock %}
