<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Luttes Enchantées{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        <link rel="stylesheet" href="https://bootswatch.com/5/cosmo/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <script src="{{ asset('js/scripts.js') }}" defer></script>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% include 'partials/navbar.html.twig' %}

        {% include 'partials/flash.html.twig' %}

        <main class="container justify-content-center mt-5">
			<figure class="logo">
				<img class="w-75 h-auto mx-auto object-fit-contain" src="{{ asset('img/Logo.png') }}" alt="Logo des Luttes Enchantées">
			</figure>

            {% block body %}{% endblock %}

        </main>

        {# {% include 'partials/footer.html.twig' %} #}
        
    </body>
</html>
